<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <style>
    .right-btn:hover {
      background-color: rgb(14, 144, 204);
      text-decoration: none;


    }
  </style>
</head>
<header style=" 
background-color: #000033;
position: absolute;
height: 18%;
width: 100%; top: 0px; height: 80px;>

  <div class=" logo">
  <h1 style="color: wheat; top: 18px;   left: 27px;
    position: absolute;">FARMERS Way</h1>

  <a class="  right-btn" style="  margin: 0px 8px;
background-color: #000066;
color: wheat;
padding: 14px 10px;
border-radius: 10px;
height: 50px;
cursor: pointer; position: relative; left: 1300px; top: 30px; font-weight: bolder; font-size: large;"
    onmouseover="this.style.color= 'white'" onmouseout="this.style.color= 'wheat'" id="register" href="/"
    role="button">Home</a>

  </div>
  </div>

</header>