<%- include('partials/header') %>
<br>
<br>
<br>
<br>

<h1>OOOPSSSS!!!</h1>
<h2>Wrong Id Or Password</h2>

    <!-- <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div> -->

  </div>
</div>

<%- include('partials/footer') %>
