<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">


</head>

<body>
    <header>
        <div class="logo">
            <h1>FARMERS Way</h1>
        </div>
        <form action="/page3" method="POST">
            <div class="search_box">
                <input class="input_box" type="text" name="box" placeholder="search">
                <button type="submit"> Search </button>
            </div>
        </form>
        <div class="city-option">

            <div class="select-box">
                <div class="options-container">
                    <div class="option">
                        <input type="radio" class="radio" id="Asansol" name="category" />
                        <label for="Asansol">Asansol</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" href="" id="Amritsar" name="category" />
                        <label for="Amritsar">Amritsar</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Ambala" name="category" />
                        <label for="Ambala">Ambala</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Amravati" name="category" />
                        <label for="Amravati">Amravati</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Bathinda" name="category" />
                        <label for="Bathinda">Bathinda</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Burdwan" name="category" />
                        <label for="Burdwan">Burdwan</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Darjeeling" name="category" />
                        <label for="Darjeeling">Darjeeling</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Faridabad" name="category" />
                        <label for="Faridabad">Faridabad</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Gorakhpur" name="category" />
                        <label for="Gorakhpur">Gorakhpur</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Gurugram" name="category" />
                        <label for="Gurugram">Gurugram</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Howrah" name="category" />
                        <label for="Howrah">Howrah</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Jalandhar" name="category" />
                        <label for="Jalandhar">Jalandhar</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Kolkata" name="category" />
                        <label for="Kolkata">Kolkata</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Kurukshetra" name="category" />
                        <label for="Kurukshetra">Kurukshetra</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Kanpur" name="category" />
                        <label for="Kanpur">Kanpur</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Lucknow" name="category" />
                        <label for="Lucknow">Lucknow</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Ludhiana" name="category" />
                        <label for="Ludhiana">Ludhiana</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Nagpur" name="category" />
                        <label for="Nagpur">Nagpur</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Nashik" name="category" />
                        <label for="Nashik">Nashik</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Kolhapur" name="category" />
                        <label for="Kolhapur">Kolhapur</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Pune" name="category" />
                        <label for="Pune">Pune</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Patiala" name="category" />
                        <label for="Patiala">Patiala</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Prayagraj" name="category" />
                        <label for="Prayagraj">Prayagraj</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Sonipat" name="category" />
                        <label for="Sonipat">Sonipat</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio" id="Varanaasi" name="category" />
                        <label for="Varanaasi">Varanaasi</label>
                    </div>
                </div>

                <div class="selected">
                    Select Your city
                </div>

                <div class="search-box">
                    <input type="text" placeholder="Start Typing..." />
                </div>
            </div>
        </div>
        <div class="lang">
            <select>
                <option>English</option>
                <option>Hindi</option>
            </select>
        </div>
        <div class="Signout">
            <a class="right-btn1" id="profile" style="  margin: 0px 8px;
            background-color: #000066;
            color: wheat;
            padding: 14px 10px;
            border-radius: 10px;
            height: 40px;
            cursor: pointer; position: relative; left: 1300px; top: 30px; font-weight: bolder; font-size: medium; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
                onmouseover="this.style.color= 'white'" onmouseout="this.style.color= 'wheat'" id="register" href="/profile" role="button">
                <%= username %>
            </a>

            <a class="  right-btn" style="  margin: 0px 8px;
                background-color: #000066;
                color: wheat;
                padding: 14px 10px;
                border-radius: 10px;
                height: 50px;
                cursor: pointer; position: relative; left: 1300px; top: 30px; font-weight: bolder; font-size: medium; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
                onmouseover="this.style.color= 'white'" onmouseout="this.style.color= 'wheat'" id="register" href="/logout" role="button">LogOut</a>



            <!-- <a id="sell1" class="right-btn" href="https://public.tableau.com/profile/shubham.kumar1404#!/vizhome/cvid/Dashboard1" role="button">Sell</a>
                        <a id="sell2" class="right-btn" href="/page3" role="button">Order</a> -->
        </div>

        <div class="main-nav">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="#">Rabi crops</a>
                    <ul>
                        <li><a href="#">Onions</a></li>
                        <li><a href="#">Potato</a></li>
                        <li><a href="#">Sarso</a></li>
                        <li><a href="#">Carrot</a></li>
                        <li><a href="#">Chana</a></li>
                    </ul>
                </li>
                <li><a href="#">Zayad crops</a>
                    <ul>
                        <li><a href="">Watermellon</a></li>
                        <li><a href="">Kharbhuja</a></li>
                        <li><a href="">Kakdi</a></li>
                        <li><a href="">Khira</a></li>
                        <li><a href="">Khaddu</a></li>
                    </ul>
                </li>
                <li><a href="#">Kharif crops</a>
                    <ul>
                        <li><a href="">Makka</a></li>
                        <li><a href="">Kapas</a></li>
                        <li><a href="">mungphali</a></li>
                        <li><a href="">bajara</a></li>
                        <li><a href="">Rice</a></li>
                    </ul>
                </li>
                <li><a href="#">Nagdi crops</a>
                    <ul>
                        <li><a href="">sugercane</a></li>
                        <li><a href="">kapas</a></li>
                        <li><a href="">tea</a></li>
                        <li><a href="">coffee</a></li>
                        <li><a href="">surajmuhki</a></li>
                    </ul>
                </li>
                <li><a href="#">Vegitable</a>
                    <ul>
                        <li><a href="">Bhindi</a></li>
                        <li><a href="">phulgobhi</a></li>
                        <li><a href="">pattagobhi</a></li>
                        <li><a href="">brinjal</a></li>
                        <li><a href="">kaddu</a></li>
                    </ul>
                </li>
                <li><a href="#">Fruits</a>
                    <ul>
                        <li><a href="">Apple</a></li>
                        <li><a href="">Orange</a></li>
                        <li><a href="">pineapple</a>
                            <li><a href="">Graphes</a>
                                <li><a href="">mango</a>
                    </ul>
                    </li>
            </ul>
        </div>

    </header>
    <div class="banner">

        <img class="pic3" src="/img/pic5.jpg" alt="pic" height="100%">

        <h1 class="CropTransactions">Crop Transaction</h1>

        <div class="mid" id="buy">

            <div class="divbuy">
                <div>
                    <p class="buypara" style="color:black;">
                        Don't worry about the varying prices across different regions, don't worry about the hassles of finding the right seller to purchase the produce from. We promise to deliver you your produce at the lowest guaranteed price.
                    </p>
                </div>

                <div id="buyb">
                    <a href="/buyer" style="color: white; position: relative; top: 10px;"> Buy</a>
                </div>

            </div>
        </div>


        <div class="mid" id="sell">
            <p class="sellpara" style="color:black;">
                Sell your produce to a larger customer base across through states and countries without ever worrying about the complications in doing so. We help you focus on what you're best at. Leave all the hassles with us.
            </p>
            <div id="Sellb">
                <a href="/seller" style="color: white; position: relative; top: 10px;"> Sell</a>
            </div>

        </div>
    </div>
    <!-- <div class="services">
        <h4>Our Services</h4>
        <div class="work">
            <div class="service">
                <h5>Easy Logistics</h5>
                <p>We provide easy, reliable and fast logistics throughout the country each state and each city. We have
                    cold storage and air conditions vehichle to facilitate easy movement of crops.</p>
            </div>
            <div class="service">
                <h5>service name</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    Perspiciatis commodi expedita enim reiciendis ut at velit
                    quidem excepturi? Voluptatibus perspiciatis perferendis error
                    temporibus magni odio repellendus, suscipit fugiat! Velit, ipsam?</p>
            </div>
            <div class="service">
                <h5>service name</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    Perspiciatis commodi expedita enim reiciendis ut at velit
                    quidem excepturi? Voluptatibus perspiciatis perferendis error
                    temporibus magni odio repellendus, suscipit fugiat! Velit, ipsam?</p>
            </div>
        </div>
    </div>
    <div class="services">
        <h4>What's great about it?</h4>
        <div class="work">
            <div class="service">
                <h5>service name</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    Perspiciatis commodi expedita enim reiciendis ut at velit
                    quidem excepturi? Voluptatibus perspiciatis perferendis error
                    temporibus magni odio repellendus, suscipit fugiat! Velit, ipsam?</p>
            </div>
            <div class="service">
                <h5>service name</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    Perspiciatis commodi expedita enim reiciendis ut at velit
                    quidem excepturi? Voluptatibus perspiciatis perferendis error
                    temporibus magni odio repellendus, suscipit fugiat! Velit, ipsam?</p>
            </div>
            <div class="service">
                <h5>service name</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    Perspiciatis commodi expedita enim reiciendis ut at velit
                    quidem excepturi? Voluptatibus perspiciatis perferendis error
                    temporibus magni odio repellendus, suscipit fugiat! Velit, ipsam?</p>
            </div>
            <div class="service">
                <h5>service name</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    Perspiciatis commodi expedita enim reiciendis ut at velit
                    quidem excepturi? Voluptatibus perspiciatis perferendis error
                    temporibus magni odio repellendus, suscipit fugiat! Velit, ipsam?</p>
            </div>
            <div class="service">
                <h5>service name</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    Perspiciatis commodi expedita enim reiciendis ut at velit
                    quidem excepturi? Voluptatibus perspiciatis perferendis error
                    temporibus magni odio repellendus, suscipit fugiat! Velit, ipsam?</p>
            </div>
            <div class="service">
                <h5>service name</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    Perspiciatis commodi expedita enim reiciendis ut at velit
                    quidem excepturi? Voluptatibus perspiciatis perferendis error
                    temporibus magni odio repellendus, suscipit fugiat! Velit, ipsam?</p>
            </div>
        </div>
    </div> -->


    <footer class="foo">
        <div class="footer">
            <div class="inner-footer">
                <div class="footer-items">
                    <h2>Farmers way</h2>
                    <p>jjcbajb jkcbjsa cmajnka aknckancla ckanckancla akcnak.
                    </p>
                </div>
                <div class="footer-items">
                    <h3>company</h3>
                    <div class="borer"></div>
                    <ul>
                        <a href="">
                            <li>About us</li>
                        </a>
                        <a href="">
                            <li>service</li>
                        </a>
                        <a href="">
                            <li>term & condition</li>
                        </a>
                        <a href="">
                            <li>Careers</li>
                        </a>
                    </ul>
                </div>
                <div class="footer-items">
                    <h3>Get help</h3>
                    <div class="borer"></div>
                    <ul>
                        <a href="">
                            <li>team contect</li>
                        </a>
                        <a href="">
                            <li>delivery</li>
                        </a>
                        <a href="">
                            <li>Payment</li>
                        </a>
                        <a href="">
                            <li>order status</li>
                        </a>
                    </ul>
                </div>
                <div class="footer-items">
                    <h3>Address</h3>
                    <div class="borer"></div>
                    <ul>
                        <a href="">
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>1,abc street,ranchi</li>
                        </a>
                        <a href="">
                            <li><i class="fa fa-phone" aria-hidden="true"></i>4568524997485</li>
                        </a>
                        <a href="">
                            <li><i class="fa fa-envelope" aria-hidden="true"></i>abc65do@gmail.com</li>
                        </a>
                    </ul>
                </div>
                <div class="footer-items">
                    <h3>contect/inquary</h3>
                    <div class="borer"></div>
                    <div class="email">
                        <div class="text">Email</div>
                        <input type="email" required>
                    </div>
                    <div class="msg">
                        <div class="text">Message</div>
                        <textarea rows="3" cols="25" required></textarea>
                    </div>
                    <div class="send-btn">
                        <button>Send</button>
                    </div>
                </div>
                <div class="copyright">
                    <hr style="text-align:center">copyright 2020 All rights reserved | this website design by Rubian & teams
                    </hr>
                </div>
            </div>
        </div>

    </footer>
    <script src="/javascript/index.js"></script>
</body>

</html>