<%- include('partials/header') %>


<div class="container mt-5" style="position: absolute; top: 100px;">
  
  
  
  <h1>Post Your Crop</h1>

  

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/post" method="POST" autocomplete="nope">
            
            <div class="form-group">
              <label for="crops" >Adhar Number</label>
              <input type="text" class="form-control"  name="adharno" >
            </div>

            <div class="form-group">
              <label for="crops" >Crop Name</label>
              <input type="text" class="form-control"  name="crops" >
            </div>

            <div class="form-group">
              <label for="quantity" >Quantity(in Quintal)</label>
              <input type="text" class="form-control"  name="quantity" >
            </div>

            <div class="form-group">
              <label for="price" >Price(per Quintal)</label>
              <input type="text" class="form-control"  name="price" >
            </div>


          

            <button type="submit" class="btn btn-dark">Post</button>
          </form>

        </div>
      </div>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div> -->

  </div>
</div>

<%- include('partials/header') %>
